<html>
    <body>
        <h1>Cerrar sesión</h1>
        <p>Hasta pronto <span style="color:red"><%= user %></span>, se ha desconectado correctamente.</p>
        <a href="/">Inicio</a>
    </body>
</html>