<html>
  <body>
    <h1 style="color:red"> REGISTRO ERROR !! </h1>
    <p>Pruebe a iniciar sesión o inténtelo de nuevo.</p>
    <ul>
      <li>
        <a href="/login">Iniciar sesión</a>
      </li>
      <li>
        <a href="/register">Registrarse</a>
      </li>
    </ul>
  </body>
</html>