<html>
  <body>
    <h1 style="color:red"> ERROR !! </h2>
    <h2> Usted no está autorizado</h2>
    <ul>
      <li>
        <a href="/login">Iniciar sesión</a>
      </li>
      <li>
        <a href="/register">Registrarse</a>
      </li>
      <li>
        <a href="/">Inicio</a>
      </li>
    </ul>
  </body>
</html>