<!DOCTYPE HTML>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <title>Inicio</title>
  </head>
  <body>
    <h1>Inicio</h1>
      <ul>
        <li> <a href="/content">Acceder al contenido</a> </li>
        <li> <a href="/login">Iniciar sesión</a> </li>
        <li> <a href="/register">Registrarse</a> </li>
        <li> <a href="/logout">Cerrar sesión</a> </li>
       </ul>
  </body>
</html>
