<html>
  <body>
    <h1>Iniciar sesión</h1>

    <form method="POST" action="">
      <p>Usuario: <input name="username" autofocus required></p>  
      <p>Contraseña: <input type="password" name="password" required></p> 
      <button> Login </button>
    </form>
  </body>
</html>
