<html>
    <body>
        <h1>Registro realizado con éxito</h1>
        <p>Enhorabuena <span style="color:red"><%= username %></span>, ya puede iniciar sesión.</p>
        <ul>
            <li><a href="/login">Iniciar sesión</a></li>
            <li><a href="/">Inicio</a></li>
        </ul>
    </body>
</html>